@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: #09090b; /* Fondo oscuro global */
  color: white;
  overflow-x: hidden; /* Evita scroll lateral indeseado */
}
